:root {
    --font-color: #585958;    
    --font-dark: #2C2D2C;
    --body-bg-color: #f2f2f2;    
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    --transition-time: .3s;   
    --incorrect-color: #f78888;
    --correct-color: #1fc5a8;
    --correct-color-hover: #22D8B9;
    --clickable-element: #ffb080;
    --clickable-element-hover: #FFA064;
}

* {    
    color: var(--font-color);
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
}

h2 {    
    font-size: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}

input {
    color: var(--font-dark);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    padding: .5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;        
}

.center {
    text-align: center;
}

.start {
    margin: 0 auto;    
}

/* Basic styling for every button */
.button {
    transition: 0.2s;
    padding: .5rem;       
    background-color: var(--clickable-element);   
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;    
    box-shadow: var(--box-shadow);
    cursor: pointer;    
    color: var(--font-dark);
}

.button:hover {    
    transition: 0.2s;
    cursor: pointer;
    background-color: var(--clickable-element-hover);
}

.button:active {
    transition: 0.2s;
    transform: translate(0,1px) ;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Styling for button on welcome screen */
.button.start {    
    background-color: var(--correct-color);
    margin-top: 1rem;
    color: var(--font-dark);
}

.button.start:hover {
    background-color: var(--correct-color-hover);    
    
}

/* Styling for disabled button */
.button.disabled {
    background-color: var(--body-bg-color);
}

/* Adding extra space when necessary */
.button.scores {
    margin-right: 1rem;
    margin-top: 1rem;

}

/* Header elements */
#counter {
    padding: .5rem;
}

#timeLeft {
    padding: .5rem;
    border: 1px solid #585958;
    border-radius: 5px;    
}

/* Quiz container styling */
#quiz-container {
    width: 650px; 
    display: flex;
    flex-direction: column;     
    padding: 2rem;
}

#quiz-container li {    
    margin-bottom: .5rem;    
    padding: .5rem;    
    border-radius: 5px;
}

#quiz-container li:hover {    
    cursor: pointer;
}

.list-container {
    display: flex;   
}

/* Styling for each possible answer */
.question {
    background-color: var(--clickable-element);    
    color: var(--font-dark);   
    transition: var(--transition-time); 
}

.question:hover {
    background-color: var(--clickable-element-hover);
    transform: translate(5px,0);
    transition: var(--transition-time); 
}

/* Feedback after user chooses answer */
.feedback-container {
    border-top: 1px solid var(--font-color);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.feedback {
    padding: .5rem;
    font-style: italic;
    font-size: 1.5rem;    
}

/* Styling for correct answer */
.correct {
    background-color: var(--correct-color);
}

/* Styling for incorrect answer */
.incorrect {
    background-color: var(--incorrect-color);
}

/* Disabling events for disabled elements */
.disabled {    
    pointer-events: none;   
    color: var(--font-dark);
}

/* Styling for each object stored in best scores */
.best-score-item {
    padding: .5rem;
    font-size: 1.2rem;
}


/* Media queries */
@media screen and (max-width: 500px) {  
    html {
        font-size: 80%;
    }
    main {
        padding-top: 1rem;
    }
}

